<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>api-weather</title>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<div class="container-fluid">
      <div class="row">
        <div class="mrgtop-05 col-xs-12 col-sm-4 col-lg-4 col-sm-offset-4 col-lg-offset-4">
        <div id="" class="content text-left inline-block">
            	<p id="first" class="info-description">monday</p>
            	<p id="second" class="info-description">tuesday</p>
            	<p id="third" class="info-description">wednesday</p>
            	<p id="fourth" class="info-description">thursday</p>
            	<p id="fifth" class="info-description">friday</p>
            	<p id="sixth" class="info-description">saturday</p>
            	<p id="seventh" class="info-description">sunday</p>
            </div>
            <div id="" class="content inline-block text-right">
            	<p id="one" class="info">14°-22°</p>
            	<p id="two" class="info">15°-22°</p>
            	<p id="three" class="info">14°-21°</p>
            	<p id="four" class="info">16°-22°</p>
            	<p id="five" class="info">16°-22°</p>
            	<p id="six" class="info">16°-22°</p>
            	<p id="seven" class="info">16°-22°</p>
            </div>
				</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-lg-4 col-sm-offset-4 col-lg-offset-4 container-button-next">
          <div>
            <button class="back-btn btn">Back</button>
          </div>
        </div>
		</div>
	</div>
	<body>
		<script src="../vendors/jquery/dist/jquery.min.js"></script>
	  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
		<script src="../js/week.js"></script>
	</body>
</html>