.h-100vh {
  height: 100vh;
}

.bg-fondo {
  background-image: url('../assets/images/fondo.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.opacity {
  background: rgba(000, 000, 000, .5);
}

/* Colors */

.red {
  background-color: rgb(218, 49, 49);
}

.white-text {
  color: white !important;
}
